body{
background-color: #f3c97e;
  body}
h1{
  color: #CD5C5C ;
  text-align: center; 
}
[href*= "https://www.yesstyle.com/es/etude-base-de-maquillaje/info.html/pid.1092061515"] {
 float:center; 
  }
